<div class="container">
<br>

      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <a class="navbar-brand" href="#">MyBlog</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Home', articles_path, class:'btn btn-info'%><span class="sr-only">(current)</span>
              <%= link_to 'New Article', new_article_path(@articles), class:'btn btn-info' %>
              <%= link_to 'About', page_path('about'), class:'btn btn-info'%>

            </li>

          </ul>
        </div>
      </nav>




<br>

      <h1 style="color: #5e9ca0; text-align: left;">MyBlog - <span style="color: #2b2301;">About the author</span></h1>
<h2 style="color: #2e6c80; text-align: left;">Something about me:</h2>
<p style="text-align: left;">Hello, my name is Nhiem Ngo. I just graduated from High School for the Gifted in HCMC, and am currently taking a gap year before applying to US colleges.</p>
<p style="text-align: left;">Coding is one of my biggest hobbies and passions. I hope to be selected for CoderSchool's Ruby class so that I can take my Ruby&nbsp;skills to a new level.</p>
<h2 style="color: #2e6c80; text-align: left;">Here is a picture of me:</h2>
<p style="text-align: left;"><img src="http://i.imgur.com/01dIILe.jpg" alt="" width="480" height="480" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

<div class="row">
  <div class="col-sm-8">




 

  </div>
</div>
</div>
